<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Retrospective Tool</title>

	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-theme.css">
</head>
<body>	
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Retrospectiva</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Admin</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Sprint 133</h1>

            
          <form>
			  <div class="form-group">
			    <label for="txtWorkedWell">O que funcionou?</label>
			    <textarea class="form-control" id="txtWorkedWell" autofocus rows="3"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="txtNeedsWork">O que precisa melhorar?</label>
			    <textarea class="form-control" id="txtNeedsWork" rows="3"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>

        </div>
      </div>
    </div>


	<script src="../public/javascripts/libs/jquery-1.11.2.js"></script>
	<script src="../public/javascripts/libs/bootstrap.js"></script>

	<script src="../public/javascripts/retrospective.js"></script>
	<script src="../public/javascripts/retrospective.boot.js"></script>
</body>
</html>